<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.636199465242-fd7ujtorpvvudtsl3u3ev90nijectfqm</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.636199465242-fd7ujtorpvvudtsl3u3ev90nijectfqm</string>
			</array>
		</dict>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_Proxyman._tcp</string>
	</array>
</dict>
</plist>
